@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/Layout/layout';
@import './pages/HomePage/homepage';
@import './components/Header/header';
@import './components/Footer/footer';

@font-face {
  font-family: 'Finlandica';
  src: url('./assets/fonts/Finlandica-Regular.ttf');
}
.font-finlandica {
  font-family: 'Finlandica';
  src: url('./assets/fonts/Finlandica-Regular.ttf');
}